    <!-- 馬上註冊 -->
    <div class="discount d-flex jcc aic">
        <p class="h4 h5-sm mr-24 me-sm-16">加入會員取得 9 折優惠</p>
        <button type="button" class="btn btn-bk">馬上註冊</button>
    </div>
    <footer class="py-64 py-sm-32">
        <nav class="container d-flex jcsb mb-24 d-sm-block">
            <a class="mb-sm-8" href="index.html"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/8719e07a34f05b853e98e1402ed748446fdd8ef3/2025-week1/logo.svg" alt="logo"></a>
            <ul class="d-flex aic d-sm-block px-sm-12">
                </li>
                <li class="mr-40 py-sm-12">
                    <a href="products.html">商品列表</a></li>
                <li class="py-sm-12">
                    <a href="brand-story.html">品牌故事</a></li>
            </ul>
        </nav>
        <div class="copyright container text-sm text-neutral-600 tac border-top pt-32">
            <p class="mb-4">Copyright ©2025 URBNSTEP</p>
            <p>All Rights Reserved.</p>
        </div>
    </footer>