<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<nav class="container py-16 d-flex aic jcsb py-sm-12">
        <ul class="d-flex aic">
            <li class="mr-48">
                <a href="products.html"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/8719e07a34f05b853e98e1402ed748446fdd8ef3/2025-week1/logo.svg" alt="logo"></a>
            </li>
            <li class="mr-40 d-sm-none">
                <a href="products.html">商品列表</a></li>
            <li class="d-sm-none">
                <a href="brand-story.html">品牌故事</a></li>
        </ul>
        <a class="p-12" href="#"><i class="bi bi-person"></i></a>
    </nav>