/* 馬上註冊 */
.discount {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: $primary-200;
}

footer {
    padding-top: 139px;
    padding-bottom: 139px;
    background-color: $neutral-100;
}

ul {
    padding: 0;
}

.border-top {
    border-top: 1px solid $neutral-300;
}