@media (max-width: 767px){
    .py-md-category {
        padding-top: 9.5px;
        padding-bottom: 9.5px;
    }
}

.type .active {
    color: $primary-400;
}

.page-item .btn{
    padding: 8px 15px;
    border-radius: 0;
    font-weight: 400;

}

.page-item .active {
    background-color: $primary-300;
    font-weight: 500;
}

.page-item  .btn:hover {
    background-color: $primary-300;
    font-weight: 500;
}

/* 馬上註冊 */
.discount {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: $primary-200;
}

footer {
    padding-top: 139px;
    padding-bottom: 139px;
    background-color: $neutral-100;
}

ul {
    padding: 0;
}

.border-top {
    border-top: 1px solid $neutral-300;
}