/* 顏色 */
$primary-100: #F5FEE7;
$primary-200: #e8fec5;
$primary-300: #C0FA73;
$primary-400: #57a203;
$primary-500: #477a11;
$neutral-0: #ffffff;
$neutral-100: #f8f9fa;
$neutral-300: #dee2e6;
$neutral-300: #DEE2E6;
$neutral-400: #CED4DA;
$neutral-500: #ADB5BD;
$neutral-600: #6c757d;
$neutral-700: #495057;
$neutral-800: #343A40;
$neutral-900: #212529;
$danger-300: rgba(215, 79, 79, 1);