<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <%- include('./layout/header'); -%>

    <main class="container py-32 py-md-16 mb-48">
        <!-- 麵包屑導覽 -->
        <nav class="mb-24 mb-md-12">
            <ol class="d-flex">
                <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">首頁</a></li>
                <li class="breadcrumb-item">所有商品</li>
            </ol>
        </nav>
        <h2 class="h3 h4-md py-md-category mb-24 mb-md-12">所有商品</h2>
        <div class="row">
            <!-- 商品種類 -->
            <div class="col-2 d-md-none">
                <nav>
                    <ul class="type">
                        <li class="mb-16"><a class="py-8 active" href="#">所有商品</a></li>
                        <li class="mb-16"><a class="py-8" href="#">慢跑鞋</a></li>
                        <li class="mb-16"><a class="py-8" href="#">滑板鞋</a></li>
                        <li class="mb-16"><a class="py-8" href="#">厚底鞋</a></li>
                        <li class="mb-16"><a class="py-8" href="#">限定 / 聯名企劃</a></li>
                    </ul>
                </nav>
            </div>
            <!-- 商品清單 -->
            <div class="col-10 col-md-4">
                <div class="row">
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-24">
                            <a href="product.html">
                                <img class="mb-12 mb-md-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/image.png?raw=true" alt="item">
                                <h6 class="h6 mb-4 mb-md-0">PLATFORM 404</h6>
                                <p class="text-md">NT$2,600</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-24">
                            <a href="product.html">
                                <img class="mb-12 mb-md-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-1.png?raw=true" alt="item">
                                <h6 class="h6 mb-4 mb-md-0">PLATFORM 404</h6>
                                <p class="text-md">NT$2,600</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-24">
                            <img class="mb-12 mb-md-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-2.png?raw=true" alt="item">
                            <h6 class="h6 mb-4 mb-md-0">VM001</h6>
                            <p class="text-md">NT$2,600</p>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-24">
                            <img class="mb-12 mb-md-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true" alt="item">
                            <h6 class="h6 mb-4 mb-md-0">Melty Kiss</h6>
                            <p class="text-md">NT$4,000</p>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-24">
                            <img class="mb-12 mb-md-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true" alt="item">
                            <h6 class="h6 mb-4 mb-md-0">BOOMBLOK</h6>
                            <p class="text-md">NT$3,200</p>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-24">
                            <img class="mb-12 mb-md-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-5.png?raw=true" alt="item">
                            <h6 class="h6 mb-4 mb-md-0">BOOMBLOK</h6>
                            <p class="text-md">NT$3,200</p>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-24">
                            <img class="mb-12 mb-md-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true" alt="item">
                            <h6 class="h6 mb-4 mb-md-0">R:UNER</h6>
                            <p class="text-md">NT$4,000</p>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-24">
                            <img class="mb-12 mb-md-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-7.png?raw=true" alt="item">
                            <h6 class="h6 mb-4 mb-md-0">Sugar Snap</h6>
                            <p class="text-md">NT$4,000</p>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                        <div class="mb-48 mb-md-32">
                            <img class="mb-12 mb-md-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-8.png?raw=true" alt="item">
                            <h6 class="h6 mb-4 mb-md-0">Neofoam</h6>
                            <p class="text-md">NT$4,000</p>
                        </div>
                    </div>
                    <div class="col-4 col-md-2 d-none d-md-block">
                        <div class="mb-48 mb-md-32">
                            <img class="mb-12 mb-md-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-9.png?raw=true" alt="item">
                            <h6 class="h6 mb-4 mb-md-0">Buttermood</h6>
                            <p class="text-md">NT$4,000</p>
                        </div>
                    </div>
                </div>
                <ul class="page-item d-flex jcc aic">
                    <li class="mr-12">
                        <button type="button" class="btn" disabled><i class="bi bi-chevron-left"></i></button>
                    </li>
                    <li class="mr-8">
                        <button type="button" class="btn active">1</button>
                    </li>
                    <li class="mr-8">
                        <button type="button" class="btn">2</button>
                    </li>
                    <li class="mr-8">
                        <button type="button" class="btn">3</button>
                    </li>
                    <li class="mr-8">
                        ...
                    </li>
                    <li  class="mr-12">
                        <button type="button" class="btn">10</button>
                    </li>
                    <li>
                        <button type="button" class="btn"><i class="bi bi-chevron-right"></i></button>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </body>
</html>
